*~
/@cmake/
/@env/
/@jedi-cmake/
src/@crtm/
src/@ioda-converters/
src/@ioda/
src/@oops/
src/@ufo/
src/@vader/
/.mepo/
__pycache__
.ipynb_checkpoints
parallel_build.o*
log.*
CMakeUserPresets.json
[._]*.s[a-v][a-z]
[._]*.sw[a-p]

